<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="crx_bimanual_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="left_J1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_J1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_J2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_J2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_J3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_J3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_J4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_J4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_J5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_J5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_J6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_J6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_J1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_J1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_J2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_J2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_J3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_J3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_J4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_J4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_J5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_J5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_J6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_J6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
