<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="crx_bimanual">

  <xacro:arg name="use_mock_hardware" default="false"/>
  <xacro:arg name="left_robot_ip"  default="192.168.1.100"/>
  <xacro:arg name="right_robot_ip" default="192.168.1.110"/>
  <xacro:arg name="read_only" default="false"/>
  <xacro:arg name="use_rmi" default="false"/>
  <xacro:arg name="gz" default="false"/>

  <!-- base offset of right arm in world -->
  <xacro:arg name="right_base_xyz" default="0.8 0.0 0.0"/>
  <xacro:arg name="right_base_rpy" default="0.0 0.0 0.0"/>


  <!-- include the single-arm wrapper that forwards prefix/parent/origin_* -->
  <xacro:include filename="$(find crx_description)/urdf/crx10ia_l/crx10ia_l.xacro"/>

  <!-- Left arm -->
  <xacro:crx10ia_l
      prefix="left_"
      parent="world"
      origin_xyz="0 0 0"
      origin_rpy="0 0 0"
      use_mock_hardware="$(arg use_mock_hardware)"
      robot_ip="$(arg left_robot_ip)"
      read_only="$(arg read_only)"
      use_rmi="$(arg use_rmi)"
      gz="$(arg gz)"
  />

  <!-- Right arm -->
  <xacro:crx10ia_l
      prefix="right_"
      parent="world"
      origin_xyz="$(arg right_base_xyz)"
      origin_rpy="$(arg right_base_rpy)"
      use_mock_hardware="$(arg use_mock_hardware)"
      robot_ip="$(arg right_robot_ip)"
      read_only="$(arg read_only)"
      use_rmi="$(arg use_rmi)"
      gz="$(arg gz)"
  />

</robot>
