<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="crx10ia_l"
              params="
                robot_ip:='10.11.31.121'
                read_only:='false'
                use_rmi:='false'
                use_mock_hardware:=false
                gz:=false
                prefix:=''
                parent:='world'
                origin_xyz:='0 0 0'
                origin_rpy:='0 0 0'
              ">

    <!-- If your composite URDF defines world already, this is harmless; otherwise add it at top-level -->
    <!-- <link name="world"/> -->

    <xacro:if value="${gz}">
      <xacro:include filename="$(find crx_description)/urdf/crx.gazebo.xacro" />
      <xacro:crx_ros2_control_gazebo />
    </xacro:if>

    <xacro:unless value="${gz}">
      <xacro:include filename="$(find crx_description)/urdf/crx.ros2_control.xacro" />
      <!-- IMPORTANT: give unique ros2_control system name per arm -->
      <xacro:crx_ros2_control
          name="${prefix}crx10ia_l"
          use_mock_hardware="${use_mock_hardware}"
          robot_ip="${robot_ip}"
          read_only="${read_only}"
          use_rmi="${use_rmi}"
          prefix="${prefix}"/>
      <!-- ^ You may need to add 'prefix' support inside crx.ros2_control.xacro too (see section 3) -->
    </xacro:unless>

    <material name="${prefix}black">
      <color rgba="0 0 0 1.0"/>
    </material>
    <material name="${prefix}white">
      <color rgba="1.0 1.0 1.0 1.00"/>
    </material>

    <!-- links -->

  <link name="${prefix}base_link">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/> 
        <geometry> 
            <mesh filename="package://crx_description/meshes/crx10ia_l/visual/link_base.stl" scale="0.001 0.001 0.001"/> 
        </geometry> 
        <material name="${prefix}black"/>
    </visual>
    <collision>
     <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
       <mesh filename="package://crx_description/meshes/crx10ia_l/collision/link_base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision> 
  </link>

  <link name="${prefix}link_1">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
	       <geometry>
	         <mesh filename="package://crx_description/meshes/crx10ia_l/visual/link_1.stl" scale="0.001 0.001 0.001"/>
    	   </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    	  <geometry>
          <mesh filename="package://crx_description/meshes/crx10ia_l/collision/link_1.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}link_2">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      	<geometry>
          <mesh filename="package://crx_description/meshes/crx10ia_l/visual/link_2.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${prefix}white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://crx_description/meshes/crx10ia_l/collision/link_2.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}link_3">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://crx_description/meshes/crx10ia_l/visual/link_3.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${prefix}white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://crx_description/meshes/crx10ia_l/collision/link_3.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}link_4">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://crx_description/meshes/crx10ia_l/visual/link_4.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${prefix}white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://crx_description/meshes/crx10ia_l/collision/link_4.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}link_5">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://crx_description/meshes/crx10ia_l/visual/link_5.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${prefix}white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://crx_description/meshes/crx10ia_l/collision/link_5.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}link_6">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://crx_description/meshes/crx10ia_l/visual/link_6.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${prefix}black"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://crx_description/meshes/crx10ia_l/collision/link_6.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <!-- NEW: mount this arm under 'parent' with pose -->
    <joint name="${prefix}mount_joint" type="fixed">
      <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
      <parent link="${parent}"/>
      <child link="${prefix}base_link"/>
    </joint>

    <!-- joints -->
    <joint name="${prefix}J1" type="revolute">
      <origin xyz="0 0 0.1277" rpy="0 0 0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}link_1"/>
      <axis xyz="0 0 1"/>
      <limit lower="${-179.9 * pi / 190}" upper="${179.9 * pi / 190}" effort="0" velocity="${80 * pi / 120}"/>
    </joint>

    <joint name="${prefix}J2" type="revolute">
      <origin xyz="0 0 0.1173" rpy="0 0 0"/>
      <parent link="${prefix}link_1"/>
      <child link="${prefix}link_2"/>
      <axis xyz="0 1 0"/>
      <limit lower="${-179.9 * pi / 180}" upper="${179.9 * pi / 180}" effort="0" velocity="${80 * pi / 120}"/>
    </joint>

    <joint name="${prefix}J3" type="revolute">
      <origin xyz="0 0 0.710" rpy="0 0 0"/>
      <parent link="${prefix}link_2"/>
      <child link="${prefix}link_3"/>
      <axis xyz="0 -1 0"/>
      <limit lower="${-270 * pi / 180}" upper="${270 * pi / 180}" effort="0" velocity="${120 * pi / 180}"/>
    </joint>

    <joint name="${prefix}J4" type="revolute">
      <origin xyz="0.540 0 0" rpy="0 0 0"/>
      <parent link="${prefix}link_3"/>
      <child link="${prefix}link_4"/>
      <axis xyz="-1 0 0"/>
      <limit lower="${-190 * pi / 180}" upper="${190 * pi / 180}" effort="0" velocity="${112 * pi / 180}"/>
    </joint>

    <joint name="${prefix}J5" type="revolute">
      <origin xyz="0 -0.150 0" rpy="0 0 0"/>
      <parent link="${prefix}link_4"/>
      <child link="${prefix}link_5"/>
      <axis xyz="0 -1 0"/>
      <limit lower="${-179.9 * pi / 180}" upper="${179.9 * pi / 180}" effort="0" velocity="${90 * pi / 180}"/>
    </joint>

    <joint name="${prefix}J6" type="revolute">
      <origin xyz="0.160 0 0" rpy="0 0 0"/>
      <parent link="${prefix}link_5"/>
      <child link="${prefix}link_6"/>
      <axis xyz="-1 0 0"/>
      <limit lower="${-225 * pi / 180}" upper="${225 * pi / 180}" effort="0" velocity="${112 * pi / 180}"/>
    </joint>

    <!-- fanuc world -->
    <link name="${prefix}fanuc_world" />
    <joint name="${prefix}base_link-fanuc_world" type="fixed">
      <origin xyz="0 0 0.245" rpy="0 0 0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}fanuc_world"/>
    </joint>

    <!-- flange -->
    <link name="${prefix}flange" />
    <joint name="${prefix}J6-flange" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}link_6" />
      <child link="${prefix}flange" />
    </joint>

    <!-- tcp -->
    <link name="${prefix}tcp" />
    <joint name="${prefix}flange-tcp" type="fixed">
      <origin xyz="0 0 0" rpy="0 ${pi/2} 0" />
      <parent link="${prefix}flange" />
      <child link="${prefix}tcp" />
    </joint>

  </xacro:macro>
</robot>
